extends ./layout/master

block head
  title Página Inicial

block content
  .row
    .col-sm-12 
      .home-tab
        .tab-content.tab-content-basic
          .tab-pane.fade.show.active
            .row
              .col-lg-8.d-flex.flex-column
                .row.flex-grow
                  .col-12.grid-margin.stretch-card
                    .card.card-rounded
                      .card-body
                        .d-sm-flex.justify-content-between.align-items-start
                          div
                            h4.card-title.card-title-dash Relatórios pendentes
                            p.card-subtitle.card-subtitle-dash Você tem 50+ relatórios para enviar.
                        .table-responsive.mt-1
                          table.table.select-table
                            thead
                              tr
                                th Construção
                                th Agendamento
                                th Progress
                                th Status
                            tbody
                              tr
                                td
                                  .d-flex
                                    img(src='images/faces/face1.jpg' alt='')
                                    div
                                      h6 Brandon Washington
                                      p Head admin
                                td
                                  h6 Company name 1
                                  p company type
                                td
                                  div
                                    .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                      p.text-success 79%
                                      p 85/162
                                    .progress.progress-md
                                      .progress-bar.bg-success(role='progressbar' style='width: 85%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                                td
                                  .badge.badge-opacity-warning In progress
                              tr
                                td
                                  .d-flex
                                    img(src='images/faces/face2.jpg' alt='')
                                    div
                                      h6 Laura Brooks
                                      p Head admin
                                td
                                  h6 Company name 1
                                  p company type
                                td
                                  div
                                    .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                      p.text-success 65%
                                      p 85/162
                                    .progress.progress-md
                                      .progress-bar.bg-success(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')
                                td
                                  .badge.badge-opacity-warning In progress
                              tr
                                td
                                  .d-flex
                                    img(src='images/faces/face3.jpg' alt='')
                                    div
                                      h6 Wayne Murphy
                                      p Head admin
                                td
                                  h6 Company name 1
                                  p company type
                                td
                                  div
                                    .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                      p.text-success 65%
                                      p 85/162
                                    .progress.progress-md
                                      .progress-bar.bg-warning(role='progressbar' style='width: 38%' aria-valuenow='38' aria-valuemin='0' aria-valuemax='100')
                                td
                                  .badge.badge-opacity-warning In progress
                              tr
                                td
                                  .d-flex
                                    img(src='images/faces/face4.jpg' alt='')
                                    div
                                      h6 Matthew Bailey
                                      p Head admin
                                td
                                  h6 Company name 1
                                  p company type
                                td
                                  div
                                    .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                      p.text-success 65%
                                      p 85/162
                                    .progress.progress-md
                                      .progress-bar.bg-danger(role='progressbar' style='width: 15%' aria-valuenow='15' aria-valuemin='0' aria-valuemax='100')
                                td
                                  .badge.badge-opacity-danger Pending
                              tr
                                td
                                  .d-flex
                                    img(src='images/faces/face5.jpg' alt='')
                                    div
                                      h6 Katherine Butler
                                      p Head admin
                                td
                                  h6 Company name 1
                                  p company type
                                td
                                  div
                                    .d-flex.justify-content-between.align-items-center.mb-1.max-width-progress-wrap
                                      p.text-success 65%
                                      p 85/162
                                    .progress.progress-md
                                      .progress-bar.bg-success(role='progressbar' style='width: 65%' aria-valuenow='65' aria-valuemin='0' aria-valuemax='100')
                                td
                                  .badge.badge-opacity-success Completed
